@charset 'utf-8';
/* -----------------------------------
	mediaquery
-------------------------------------- */
@mixin pc {
  @media (min-width: (700px)) {
    @content;
  }
}

@mixin pad_land {
  @media (max-width: (1366px)) and (max-aspect-ratio: 16/9){
    @content;
  }
}
@mixin pad {
  @media (max-width: (1024px)){
    @content;
  }
}

@mixin sp {
  @media (max-width: (700px)) {
    @content;
  }
}
