@charset 'UTF-8';

@use "../core/mixin/index" as mx;
@use "../core/function/index" as fx;
@use "../core/variable/index" as var;
/* -----------------------------------
	common
-------------------------------------- */
